/**
 * 网址转换页
 */

body{
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color: #F8F8F8;
}

/* 提交后页面 */
#index_sub_main{
	background-color: #FFF;
	font-family: "lucida Grande",Verdana,"Microsoft YaHei";
	font-size: 1.5em;
	text-align: center;
	padding:50px 20px;
}
#switch_url {
	padding-top: 100px;
	padding-bottom: 150px;
}
div#switch_url a{
	color: #044e97;
	text-decoration: none;
}
div#switch_url a:hover{
	text-decoration: underline;
	color: #0767c8;
}

/* 出错页面 */
#error_sub_main {
	margin:0;
}